nav
  .row
    ul#nav.navigation.text-align-right
      li(anchor-to='about-me') About Me
      li(anchor-to='clients') Clients
      li(anchor-to='my-work') My Work
      li(anchor-to='expertise') Expertise
      li(anchor-to='testimonials') Testimonials
      li(anchor-to='contact-me') Contact Me
      li(onclick="location.href='https://github.com/ben-pelletier'")
        i.fa.fa-github.fa-3(style='font-size:16px;')
